@import '../../../css/_color.scss';
.invoiceProp {
  display: block;
  padding: 5px;
  text-align: left;
  font-size: 22px;

  .propTitle {
    display: inline-block;
    width: 20%;
    min-width: 170px;
    color: $darkGray;
  }
  .propValue {
    display: inline-block;
    color: $almostBlack;
  }
}