@import '../../../css/_color.scss';

.invoiceBlockProp {
  display: block;
  padding: 5px;
  border-bottom: 1px solid $lightGray;
  font-size: 20px;
  text-align: left;

  .propTitle {
    display: inline-block;
    width: 20%;
    min-width: 170px;
    color: $darkGray;
  }
  .propValue {
    display: inline-block;
    color: $almostBlack;
  }
}