$almostBlack: #232323;
$almostWhite: #fafafa;

$lightestBlue: #dbe4e9;
$lightBlue: #a9d2e7;
$mediumBlue: #019fd2;
$darkBlue: #007a92;

$lightGray: #e3e3e3;
$mediumGray: #b6b6b6;
$darkGray: #6c6c6c;

