@import "../../../../css/_color";

.linesTable {
  padding-left: 5px;
  margin: 20px 0px;
  display: block;
  position: relative;
  font-size: 18px;
  border: 2px solid $lightGray;
  border-radius: 5px;
}