@import "../../../../css/_color";
@import "../../../../css/util";

.line {
  margin: 0px;
  display: flex;
  background-color: $almostWhite;
  color: black;
  &.odd {
    background-color: white;
  }
}